<div class="container">
  <div class="row" style="justify-content: space-between">
    <div class="col-8 row" id="content">
      <div *ngFor="let cidade of cidades" class="col-4 row">
        <div class="card">
          <img src="{{ cidade.foto }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ cidade.nome }}</h5>
            <a
              (click)="infoCidades(cidade.id)"
              class="btn btn-primary"
              style="margin-top: 160px"
              >Informações</a
            >
          </div>
        </div>
      </div>
      <div class="col-12" style="justify-content: flex-end; display: flex">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li *ngIf="Pagina >= 1" class="page-item">
              <a (click)="getCidades(Pagina - 1)" class="page-link">Previous</a>
            </li>
            <li><a (click)="getCidades(Pagina = 0)" class="page-link">1</a></li>
            <li class="page-item"><a  (click)="getCidades(Pagina = 1)" class="page-link" >2</a></li>
            <li class="page-item"><a  (click)="getCidades(Pagina = 2)" class="page-link" >3</a></li>
            <li *ngIf="Pagina <= 2" class="page-item"><a (click)="getCidades(Pagina + 1)" class="page-link">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-4" id="content-info">
      <div *ngFor="let cidadeinfo of cidadesInfo" class="col-12 row">
        <div class="card"  id="photo-info" style="background-image: url({{cidadeinfo.foto}} );">
        </div>
        <div class="col-12 d-flex" style="justify-content: space-evenly;">
          <p class="font-weight-bold">Id:</p>
          <p>{{ cidadeinfo.id }}</p>
        </div>
        <div class="col-12 d-flex" style="justify-content: space-evenly;">
          <p class="font-weight-bold">Cidade:</p>
          <p>{{ cidadeinfo.nome }}</p>
        </div>
        <div class="col-12 d-flex" style="justify-content: space-evenly;">
          <p class="font-weight-bold">Valor Passagem Ida e Volta:</p>
          <p>{{ cidadeinfo.valor }}</p>
        </div>
        <div class="col-12 d-flex" style="justify-content: space-evenly;">
          <p class="font-weight-bold">Comida:</p>
          <p>{{ cidadeinfo.cozinha.nome }}</p>
        </div>
        <div class="col-12 d-flex" style="justify-content: space-evenly;">
          <p class="font-weight-bold">Valor Refeicao:</p>
          <p>{{ cidadeinfo.valorRefeicao }}</p>
        </div>

        <div class="col-12">
          <p class="font-weight-bold">Calcule quantos reais vc irá gastar!</p>
        </div>
        <div class="col-12 d-flex p-2 m-2" style="margin-top: 160px">
          <div class="col-8">
            <span class="input-group-text" id="">Dias na cidade</span>
          </div>
          <input #diasInput type="text" class="form-control dias" />
        </div>
        <div class="col-12">
          <a
            (click)="calcularMedia(cidadeinfo.id, diasInput.value)"
            class="btn btn-primary"
            >Calcular Media</a
          >
        </div>
        <div *ngIf="isMedia" class="col-12 d-flex justify-content-around">
          <p class="font-weight-bold">Valor Medio Gasto:</p>
          <p>{{ cidadeinfo.media }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
